.gallery img{
    width: 300px;
    height: 400px;
}

.center{
    display: block;
    margin-left: 25%;
    margin-right: 20%;
    width: 60%;
}

h1{
    font-family: Impact, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #f01e2c;
    
}

h2{
    font-family: Impact, fantasy;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

p{
    font-family: Helvetica, sans-serif;
    text-align: center;
}

button{
    margin-left: 47%;
    margin-right: 42%;
    font-size: 15px;
}

button:hover{
    color: #1260CC;
}

table{
    font-family: Helvetica, sans-serif;
    margin-left: 30%;
    margin-right: 25%;
    border-style: solid;
}

#menu{
    width: 100%;
    height: 50px;
    background-color: black;
    padding-top: 15px;
}

#menu a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: #1260CC;
}

label{
    font-family: Helvetica, sans-serif;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-family: Helvetica, sans-serif;

    border-radius: 4px;

    box-sizing: border-box;

    margin-top: 6px;

    margin-bottom: 16px;

    resize: vertical;
}

input[type=submit]{
    background-color: #04AA6D;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #45a049;
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
